@page "/post"
@using AntDesign
@using Evans.Blog.Dto
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Rendering
@using Microsoft.AspNetCore.Components.RenderTree
@using BreadcrumbItem = Volo.Abp.BlazoriseUI.BreadcrumbItem

@if (Posts == null)
{
    <Empty />
}
else
{
    <div class="post-wrap archive">
        <AntList DataSource="@Posts" ItemLayout="@ListItemLayout.Vertical" Size="large" >
            <ChildContent Context="item">
                <ListItem Extra=@_extra(item.Avatar)>
                    @* <ListItem Extra="@extra" Actions="@(new[] { iconText(("start","156")),iconText(("like","156")),iconText(("message","2")) })"> *@
                    <ListItemMeta Description="@item.Author">
                        @* <AvatarTemplate> *@
                        @*     @avatar *@
                        @* </AvatarTemplate> *@
                        <TitleTemplate>
                            <a href="@item.Url">@item.Title</a>
                        </TitleTemplate>
                    </ListItemMeta>
                    <div>
                        @item.Markdown
                    </div>
                </ListItem>
            </ChildContent>
        </AntList>
        @Pagination
    </div>
    
    @code {
    
        //RenderFragment avatar =@<Avatar Src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></Avatar>;

        readonly RenderFragment<string> _extra = context => @<img width="280" alt="logo" src="@context" />;

        RenderFragment Pagination => @<Pagination 
                                          Current="@PageNumber" 
                                          CurrentChanged=RenderPageAsync 
                                          PageSize="@MaxResultCount" 
                                          Total="TotalCount" 
                                          Style="float: right; margin-top: 16px"
                                      />;

        @*RenderFragment<(string icon, string text)> iconText = context =>
          @<Template>
                <Space>
                    <SpaceItem><Icon Type="@context.icon" /></SpaceItem>
                    <SpaceItem>@context.text</SpaceItem>
                </Space>
            </Template> ;*@

    }
}